* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.navbar-title {
  font-size: 2rem !important;
}

.navbar-link {
  font-size: 1.6rem !important;
}

.fs-2p5 {
  font-size: 2.5rem;
}

.fs-2 {
  font-size: 2rem;
}

.fs-1p6 {
  font-size: 1.6rem;
}

.fc-white {
  color: white;
}

.decoration-none {
  text-decoration: none;
}

.margin-l-2 {
  margin-left: 2rem;
}

.margin-b-1 {
  margin-bottom: 1rem;
}

.margin-b-1p5 {
  margin-bottom: 1.5rem;
}

.margin-b-2 {
  margin-bottom: 2rem;
}

.d-flex {
  display: flex;
}

.fd-column {
  flex-direction: column;
}

.ai-center{
  align-items: center;
}

.jc-center {
  justify-content: center;
}

.padding-t-25 {
  padding-top: 25rem;
}

.padding-t-15 {
  padding-top: 15rem;
}
